*,
*:after,
*:before {
  box-sizing: inherit;

}

* {
	margin:0;
	padding:0;
}
html, body{
	width:100%;
	height:100%;
}
#FirstScene {
	grid-template-rows: 1fr 2fr 1fr;
	left:50%;
}
.Button{
	cursor:pointer;
}
.portada {
	position: fixed;
	left: 50%;
	transform: translate(-50%);
	grid-row: 2/3;
	width: 800px;
	top: 35%;
}
#cargando img{
	width:350px;
	transform: translateY(580%);
	display: block;
	margin-left: auto;
	margin-right: auto;	
}
#closeButton{
	cursor:pointer;
}
#closeButton{
	font-size: 30px;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: 50px;
	border-radius: 5px;
	top: 20px;
	height: 40px;
	width: 45px;
	background-color: rgb(74, 118, 178);
	font-family: 'Anonymous Pro', monospace;
	text-align: center;
	margin-bottom: 60px;
	box-shadow: 3px 3px 2px 1px rgb(0, 74, 173);
	color: rgb(226, 225, 225);
}
#NextQuestion{
	width: 100%;
	height: 108%;
	position: absolute;
	background-color: #D7BCFD;
	display:grid;
	grid-template-columns: 1fr 2fr;
}
#NextQuestion .text{
	grid-column:2/3;
	font-weight: bolder;
	color: #2946BF;
	text-align: center;
}
#NextQuestion #levelJ{
	width: 38px;
	grid-column: 2/3;
	align-content: center;
	left: 50%;
	margin-left: 68%;
	transform: translateY(-450%);
} 
#NextQuestion #levels{
	grid-column: 1/2!important;
	margin-top: auto!important;
}
#Result{
	width: 100%;
	height: 87%!important;
	position: absolute;
	text-align: center;
	padding-top: 150px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	font-size: 35px;
}
.language{
	color: beige; 
	font-family:'Anonymous Pro', monospace;
	text-align:center;
	font-size:25px;
	font-weight: bolder;
	text-decoration: underline;
	margin:50px;
}
.language{
	cursor:pointer;
}

#Round1 {
	display:none;
	grid-template-rows:2fr 2fr;
	grid-template-columns: 3fr 2fr;
	height: 780px;
}
#Round1 #lifes{
	grid-row: 1/2;
	grid-column: 1/2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: auto;
	margin-bottom: 0;
	width: 180px;
	margin-top: 70px;
}
#Round1 .life{
	width: 50px;
}
#Round1 .avatar_{
	grid-row:1/2;
	grid-column:1/2;
	align-self:center;
	margin: auto;
	margin-bottom: 0;
	height: 300px;
}
#Round1 .circulo{
	grid-row:1/2;
	grid-column:1/2;
	align-self:center;
	margin: auto;
	margin-bottom: 0;
	width: 450px;
}
#Round1 .Questions{
	grid-row:2/3;
	grid-column: 1/2;
	height:100%;
}
#Round1 .Question{

	display:grid;
	grid-template-rows:1.5fr 1fr 1fr;
	grid-template-columns:1fr 1fr;
	text-align:center;
	height: 100%;
	margin-left: 30px;
}
#Round1 .Question img{
	
	max-width:100%;
	grid-area:total;
}
#Round1 .Question p{
	grid-area:total;
	margin: auto;
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
	color:#D9D9D9;
	margin-left: 40px;
	margin-right: 40px;

}
#Round1 .Question button{
	cursor:pointer;
	border-style: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	max-height: 65%;
}
#Round1 .question{
	grid-row:1/2;
	grid-column:1/3;
	max-height: 45% !important;
	display:grid;
}

#Round1 .answer0{
	grid-row:2/3;
	grid-column:1/2;
	display:grid;
}
#Round1 .answer1{
	grid-row:2/3;
	grid-column:2/3;
	margin-left:10px !important;
	display:grid;
}
#Round1 .answer2{
	grid-row:3/4;
	grid-column:1/2;
	display:grid;
}
#Round1 .answer3{
	grid-row:3/4;
	grid-column:2/3;
	margin-left:10px !important;
	display:grid;
}
#Round1 #levels{
	grid-row: 1/3;
	grid-column: 2/3;
	align-self:center;
	margin:auto;
	margin-top: 20px;
	background:#A6A6A6;
	width: 280px;
	height: 400px;
	padding:5px;
}
#Round1 #classification{
	display:grid;
	width:100%;
	height:100%;
	/*grid-template-columns:1fr 1fr 3fr;*/
	grid-template-rows: repeat(8,1fr);
	grid-gap:5px;
	

}
#classification2{
	background-color: #acb0b8;;
	display:grid;
	width:100%;
	height:100%;
	/* padding: 5px; */
	/*grid-template-columns:1fr 1fr 3fr;*/
	grid-template-rows: repeat(8,1fr);
	grid-gap:3px;

}

.level{
	display:grid;
	grid-template-columns: 1fr 1fr 3fr;
	background:#1064D4;
	padding-left:10px;
}
.level img{
	height: 30px;
	margin: auto;
	grid-column:1/2;
	transform: translateY(-8px);
}
.level .marker{
	border-radius:0.8em;
	background-color:#9196DF;
	line-height:1.6em;
	grid-column:2/3;
	width:1.2em;
	height:1.2em;
	vertical-align: center;
	margin:auto;
	margin-left:30px;
}
.level .levelType{
	grid-column:3/4;
	vertical-align: center;
	margin:auto;
	color:#D9D9D9;
	transform: translateY(14px);
	font-family: 'Anonymous Pro', monospace;

}
#Round2 {
	width: 100%;
	height: 700px;
	margin: 0;
}
.cards-list{
	width: 100%;
	height: 700px;
	margin: 20px auto;
	padding:0;
	list-style:none;
	max-width: 100%;
	position:relative;  
}

.card {
	width: 310px;
	border-radius: 30px 30px 30px 30px;
	background-color:rgba(249, 216, 168, 0.97);
    position:absolute;
	height: 440px;
	font-size: 1.3em;
	padding: 10px;
	top: 70px;
    left: 540px;
	margin: auto;
	box-shadow: 15px 13px 20px rgb(49, 47, 47);
	display:grid;
	grid-template-rows: 1fr 2fr;
	text-align: center;
}
.card img{
	grid-row:2/3;
    width:78%;
    max-width:350px;
    margin:20px auto 10px auto;
    display:block;
}

.result{
	width: 320px;
	border-radius: 30px 30px 30px 30px;
	position:absolute;
	height: 460px;
	padding: 10px;
	font-size: 1.3em;
	margin: auto;
	top: 215px;
	text-align:center;
   
}
.result img{
	margin-top:55%;
}
.result p{
	transform: translateY(250%);
	color:rgb(39, 35, 35);
	font-size:40px;
	font-family: 'Varela', sans-serif;
}
.result#accept{
	background-color:#b4d1e7f5;
	left: 970px;
}
.result#reject{
	background-color:#d7a2a2f1;
	left: 100px;
}
.card p {
	color:rgb(39, 35, 35);
	font-family: 'Varela', sans-serif;
	grid-row:1/2;
  	padding: 0em 1em;
  	margin:0;
	align-self: center;
	margin:auto;
	font-size:22px;
}
.templates{
	display:none;
}

.options{
	width:100%;
	position:absolute;
	bottom:50px;
	font-size: 24px;
	text-align:center;
	z-index: 1000;
}
a{
	text-decoration:none;
	background-color: #d3d3d3;
	display:inline-block;    
	font-size: 14px;
	width: 60px;
	padding: 5px 2px;
}
	
.agree{
color: green;
}
.agree :hover{
	background-color:green;
	color:white;
}
	
.disagree{
	color:red;
}
.disagree :hover{
	background-color:red;
	color:white;
}

.skip{
	color:gray;
}	
.skip :hover{
	background-color:gray;
	color:white;
}
#story{
	overflow-y:scroll;
	max-height: 400px;
	padding-top: 200px;
	
}
.info{
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
}
.Info{
	color: rgba(28, 28, 30);
	font-family: 'Anonymous Pro', monospace;
	font-size:28px;
	margin-top:50px;
	/* margin-bottom:20px; */
	text-align: center;
}
.Response{
	font-size: 18px;
	margin: 50px;
	display:inline-block;
	/* padding: 20px; */
	position: relative;
	border-radius: 30px;
	min-height: 30px;
	min-width:200px;
	max-width: 400px;
	background-color: rgb(74, 118, 178);
	font-family: 'Anonymous Pro', monospace;
	text-align: center;
	padding-left:20px;
	padding-right:20px;
	padding-top: 6px;
	margin-bottom:10px;
	box-shadow: 4px 5px 2px 1px rgb(0, 74, 173);
	color: rgb(226, 225, 225);

}
.Response,
 #Presentation img{
	cursor:pointer;
}
#Classification{
	background-color: #BAD4FF;
	width: 100%;
	height: 100%;
	position: absolute;
}

#Presentation .Info{
	position:relative;
	top: 5%;	
	margin-left:50px;
	max-width:80%;
	margin:auto;
	margin-top:0px;
	text-align:center;
}
.title{
	margin-top:30px;
	font-family:'Open Sans', sans-serif;
	font-size:50px;
	grid-column: 1/3;
	text-align:center;
	text-shadow: 0.08em 0.08em #7b88c6;
	color: #0e2bb8;
	font-weight: 600;
	font-family: 'Caveat', sans-serif;
}
#levelRound1{
	font-size: 30px;
	z-index: 3;
	position: absolute;
	top: 90%;
	transform: translateY(-90%);
	text-align:center;
	left: 40%;

}
#leftPicture{
	width: 400px;
	height: 400px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left:50px;
}
#avatars{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 500px;
	align-content: center;
	margin: auto;
	grid-column-gap: 5px;
	margin-top:40px;
}
.avatar img{
	width: 150px;
}
.avatar{
	background-color:rgba(0, 0, 0, 0.35);
}
.avatar{
	cursor:pointer;
}
.title2{
	font-family: 'Varela', sans-serif;
	font-size:20px;
	text-align: center;
	margin: 20px;
}
.contador{
	background: rgb(170, 170, 170);
	padding:5px;
	width: 250px;
	height: 60px;
	text-align: center;
	margin: auto;
	border-radius:10px;
}
#bar{
	background: rgb(10, 18, 31);
	width: 250px;
	height: 60px;
	border-radius:10px;
}
#points{
	top: -160%;
	transform: translateY(-160%);
	color:rgb(235, 235, 241);
	font-size:23px;
	font-family: 'Varela', sans-serif;
}